# evobench==0.3.1
flake8==3.9.2
jupyter==1.0.0
jupyter_contrib_nbextensions==0.5.1
kaleido==0.2.1
lazy==1.4
plotly==5.3.1
pytest==5.4.3
pytest-cov==2.10.0
scikit-learn==1.0
shap==0.39.0
xgboost==1.4.2
